<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-235-242-63.compute-1.amazonaws.com/dc4600jgieo8ft?user=xbeuovorwubodc&amp;password=0ec25eb5f1276c448a36e574c43751d33ee8177f71923916a536dedfccfcca41</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <mapping class="models.Advert"/>
        <mapping class="models.User"/>
        <mapping class="models.Category"/>
        <mapping class="models.Comment"/>
    </session-factory>
</hibernate-configuration>