<p class="pageHeader">Found Adverts</p>

<div class="advertList">

    <form method='get' action='/adverts/search'>
        <input id='search' type="text" placeholder="Search ads..." name='searchCriteria'>
    </form>

    <ul>
        #foreach ($advert in $advertsList)
        <div class="advertBox">
        <img src="$advert.getImageLocation()">
        <li><a href="/adverts/$advert.getId()">$advert.getAdvertTitle()</a></li>
        </div>
        #end
    </ul>

</div>