<p class="pageHeader">All Adverts</p>

<div class="advertList">
    <ul>
        #foreach ($advert in $allAdverts)
        <div class="advertBox">
        <img src="$advert.getImageLocation()">
        <li><a href="/adverts/$advert.getId()">$advert.getAdvertTitle()</a></li>
        </div>
        #end
    </ul>

</div>