<p class="pageHeader">All Adverts</p>

<div class="advertList">

    <ul>
        #foreach ($advert in $allAdverts)
        <li><a href="/adverts/$advert.getId()">$advert.getAdvertTitle()</a></li>
        #end
    </ul>

</div>
