<h3 class="pageHeader">$advert.getAdvertTitle()</h3>

<div class="container">

    <p>Seller's Description: $advert.getAdvertDescription()</p>
    <p>Asking price: $advert.getAskingPrice()</p>
    <p>Seller's ID: $advert.getAdvertOwner().getUsername()</p>
    <a href="/adverts/update/$advert.getId()" class="button">Edit</a>
    <form action="/adverts/delete/$advert.getId()" method="post">
        <input type="submit" value="Delete" class="button">
    </form>
</div>