body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #DE8F6E;
}

.button {
  text-decoration: none;
  padding: 0.5em;
  color: black;
  width: max-content;
}

.button:hover {
  background-color: #DE8F6E;
}

.crud-buttons {
  display: flex;
  flex-flow: row;

}

#selectedUser {
width: max-content;

}

.comment {
  word-break: break-all;
    white-space: normal;
}
.comment-box {
  margin-top: 3em;
      margin-bottom: 3em;
}

.comment-box select {
  margin-top: 1em;
  margin-bottom: 1em;
}

.comment-history {
  border: 0.1em solid #DE8F6E;
  border-radius: 10px;
  width: max-content;
padding-left: 1em;
padding-right: 1em;
}

.comment-box input {
  margin-bottom: 1em;
}

.crud-button {
  width: max-content;
  font-size: 18px;
}

.category-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 0.1em solid #DE8F6E;
  border-top: 0.1em solid #de8f6e;
}
.tile-images{
  height: 190px;
}

.show-images {
  height: 400px;
  margin-bottom: 1em;
}

.tile-list {
  display: flex;
flex-wrap: wrap;
}

.ad-description {
  border: solid 0.5px #DE8F6E;
  width: max-content;
padding: 1em;
border-radius: 15px;
}

.advert-box {
  border: solid 1px #DE8F6E;
    padding: 1.4em;
    margin-right: 5em;
    margin-bottom: 2em;
}
.container {
  margin-left: 2em;
  margin-right: 2em;
}

.grid-container {
  /* margin-top: 2em; */
  display: grid;
grid-template-columns: 1fr 2fr;
column-gap: 2em;
}

.small-images {
  height: 100px;
  border-radius: 10px;
}

.advert-2 {
  width: max-content;
padding-left: 1em;
padding-right: 1em;
margin: auto;
}
.mission-statement{
  font-size: 30px;
    display: flex;
    justify-content: center;
}

.link-button {
  text-decoration: none;
color: black;
border: 1px solid #DE8F6E;
border-radius: 5px;
padding: 0.2em;
font-size: 30px;
margin: 0.3em;
color: #DE8F6E;
}
table {
  padding: 2em;
  border: 0.1em solid #DE8F6E;
  border-radius: 10px;
}

td {
  padding: 1em;
}
h2 {
  color: #DE8F6E;
}

h3 {
  color: #DE8F6E;
}

form {
  display: grid;
  width: 20em;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 1em;
}
