body {
  font-family: sans-serif;
  margin: 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #DBDBDB;
}

.button {
  text-decoration: none;
  padding: 0.5em;
  color: black;
}

.button:hover {
  background-color: #C8C8C8;
}

.category-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 0.1em solid #DBDBDB;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
}

form {
  display: grid;
  width: 20em;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 1em;
}
