<h2>New User</h2>
<form action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" class="inputbox" name="username" id="username" required="true">

    <label for="imageLocation">Image:</label>
    <input class="inputbox" type="file" name="imageLocation" required="true" id="imageLocation">

    <input type="submit" value="save" class="button">
</form>

<a href="/users" class="button">Cancel</a>