<p class="pageHeader">Users:</p>

<div class="container">

    <a href="/users/new">Add User</a>

    <ul>
        #foreach ($user in $allUsers)
        <div class = "userBox">
            <img src="$user.getUserImage()">
            <li><a href="/users/$user.getId()">$user.getUsername()</a></li>
        </div>
        #end
    </ul>


</div>


