<h2>Users:</h2>
<div class="container">

    <a href="/users/new" class="link-button">Add User</a>

    <ul class="tile-list">
        #foreach ($user in $allUsers)
        <div class = "advert-box">
            <a href="/users/$user.getId()"><img src="$user.getUserImage()" class="tile-images"></a>
            <li><a href="/users/$user.getId()">$user.getUsername()</a></li>
        </div>
        #end
    </ul>


</div>


