<h2>$foundUser.getUsername()'s Favourite Adverts</h2>
<div class="advertList">

    <ul>
        #foreach ($advert in $favAdverts)
        <li><a href="/adverts/$advert.getId()">$advert.getAdvertTitle()</a></li>
        #end
    </ul>

</div>