<p class="pageHeader">$foundUser.getUsername()</p>

<div class="container">

    <ul>
        #foreach ($advert in $userAdverts)
        <li><a href="/adverts/$advert.getId()">$advert.getAdvertTitle()</a></li>
        #end
    </ul>

    <a href="/users/$foundUser.getId()/edit">Edit</a>

</div>


