<!DOCTYPE html>
<html>
<head>
    <title>JavaProjectDB</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<nav class="main-nav">
    <a href="/adverts" class="button">Home</a>
    <a href="/users" class="button">Users</a>
    <form method='get' action='/adverts/search/'>
        <input id='search' type="text" placeholder="Search ads..." name='searchCriteria'>
    </form>
    <a href="/adverts/new" class="button">New Advert</a>
</nav>

<nav class="category-nav">
    #foreach ($category in $allCategories)
    <a href="/adverts/category/$category.getId()" class="button">$category.getCategoryName()</a>
    #end
</nav>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>