<!DOCTYPE html>
<html>
<head>
    <title>JavaProjectDB</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <a href="/adverts">Home</a>
    <a href="/adverts/new">New Advert</a>
</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>